@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Inter", serif;
  overflow-x: hidden;
  /* background-color: #f1f3f6; */
}
.login {
  background-image: url("../public/bg-img.png");
}
.Mui-checked {
  color: #3e4396 !important;
}

.Mui-checked.Mui-disabled {
  color: #adadad !important;
}
.MuiButton-root {
  text-transform: capitalize !important;
}
.MuiTypography-body1 {
  font: bold !important;
  font-weight: 600 !important;
}
.app {
  display: flex;
  position: relative;
}

.MuiSelect-select.Mui-disabled {
  background-color: #e6e5e5 !important;
  color: black !important;
  font-weight: 500 !important;
  cursor: no-drop !important;
}
.MuiInputBase-root.Mui-disabled {
  background-color: #f0f0f0 !important; /* Custom background */
  color: #a0a0a0 !important; /* Optional: Change text color */
}

.MuiButton.Mui-disabled {
  background-color: #e6e5e5 !important;
  color: black !important;
  font-weight: 500 !important;
  cursor: no-drop !important;
}
.MuiButton-root.Mui-disabled {
  background-color: #f0f0f0 !important; /* Change to your desired color */
  color: #a0a0a0 !important; /* Optional: Change text color */
}

.MuiButton-root {
  background-color: #3e4396 !important;
  color: white !important;
  border-color: #3e4396 !important;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar:hover {
  background: #555;
}
.wraper-container {
  margin: 1.5rem 0 0 2.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
